In [1]:
import pandas as pd
import numpy as np

In [3]:
matches = pd.read_csv("ipl-matches.csv")

matches.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [10]:
team1 = 'Rajasthan Royals'
team2 = 'Royal Challengers Bangalore'
mask1 = (matches['Team1'] == team1) & (matches['Team2'] == team2)
mask2 = (matches['Team1'] == team2) & (matches['Team2'] == team1)
temp_df = matches[mask1 | mask2]
total_matches = temp_df.shape[0]

In [14]:
matches_won_team1 = temp_df['WinningTeam'].value_counts()[team1]
matches_won_team2 = temp_df['WinningTeam'].value_counts()[team2]

draws = total_matches - (matches_won_team1 + matches_won_team2)

In [19]:
def team_vs_team(team1, team2):
    mask1 = (matches['Team1'] == team1) & (matches['Team2'] == team2)
    mask2 = (matches['Team1'] == team2) & (matches['Team2'] == team1)
    temp_df = matches[mask1 | mask2]

    total_matches = temp_df.shape[0]

    matches_won_team1 = temp_df['WinningTeam'].value_counts()[team1]
    matches_won_team2 = temp_df['WinningTeam'].value_counts()[team2]
    draws = total_matches - (matches_won_team1 + matches_won_team2)
    
    response = {
        'total_matches': total_matches,
        team1: matches_won_team1,
        team2: matches_won_team2,
        'draws': draws
    }

    return response

In [21]:
team_vs_team('Chennai Super Kings', 'Mumbai Indians')

{'total_matches': 34,
 'Chennai Super Kings': np.int64(14),
 'Mumbai Indians': np.int64(20),
 'draws': np.int64(0)}

continue from 1:18:00, debugging the Type Error: Object of type int64 is not JSON serializable