# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [17]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
result_list = []
current_tuple = ()
i = 0
for row in test_list:
  if row[0] not in result_list[i]:
    current_tuple += (row[0],) # since int concatenation is not possible in string, concatenating the term as a tuple
  elif row[0] == current_tuple[0]:
    current_tuple += (row[1],) # since int concatenation is not possible in string, concatenating the term as a tuple
  print(current_tuple)
  result_list.append(current_tuple)

print(result_list)

(5,)
(5,)
(5,)
(6,)
(7,)
[(5,), (5,), (5,), (6,), (7,)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [23]:
original_tuple = (1, 5, 7, 8, 10)
result_tuple = ()
for i in range(len(original_tuple)):
  if i == 0:
    prod = original_tuple[i] * original_tuple[i+1]
  elif i == len(original_tuple)-1:
    prod = original_tuple[i] * original_tuple[i-1]
  else:
    prod = original_tuple[i] * original_tuple[i+1] + original_tuple[i] * original_tuple[i-1]
  result_tuple += (prod,)
print(result_tuple)

(5, 40, 91, 136, 80)

### `Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [25]:
t1 = (1, 2, 3, 0)
# t2 = (0, 1, 2, 3)
t2 = (1, 2, 3, 0)
flag = True
for i in range(len(t1)):
  if t1[i] != t2[i]:
    flag = False
if flag:
  print("t1 and t2 are same")
else:
  print("t1 and t2 are not same")

t1 and t2 are same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [33]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
tupleCount = setCount = listCount = 0
for object in list1:
  if type(object) is tuple:
    tupleCount += 1
  elif type(object) is list:
    listCount += 1
  elif type(object) is set:
    setCount += 1

print(f"List {listCount} \nSet = {setCount} \nTuples {tupleCount}")

List 2
Set = 2
Tuples 1

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [52]:
def recordStudents(stud_rec):
  records, details, name, higherEdu, primarySkill, yoGrad = input("Enter No of records, Details of students, Student Name, Higher Education, Primary Skill and Year of Graduation, seperated by commas").split(sep=',')
  records = int(records); details = int(details); yoGrad = int(yoGrad)
  temp_tuple = (records, details, name, higherEdu, primarySkill, yoGrad)
  stud_rec += (temp_tuple,)
  return stud_rec

def shortlist(primarySkill, higherEdu, yoGrad, stud_rec):
  shortlisted = ()
  for record in stud_rec:
    # if primarySkill in record and higherEdu in record and yoGrad in record:
    #   shortlisted += (record,)
    if (primarySkill.lower() in record[4].lower() and  # Checking if Primary Skill matches
            higherEdu.lower() in record[3].lower() and    # Checking if Higher Education matches
            yoGrad == record[5]):                          # Checking if Year of Graduation matches
            shortlisted += (record,)
  return shortlisted

# commenting this out to avoid accidental deletion of the records tuple
# stud_rec = ()
# stud_rec = recordStudents(stud_rec)

higherEdu_find, primarySkill_find, yoGrad_find = input("Enter Higher Education, Primary Skill and Year of Graduation, seperated by commas to shortlist candidate").split(sep=',')
yoGrad_find = int(yoGrad_find)
shortlisted_candidates = shortlist(primarySkill_find, higherEdu_find, yoGrad_find, stud_rec)

if not shortlisted_candidates:
  print("No such candidate")
else:
  print(f"Found {len(shortlisted_candidates)} candidate: \n{shortlisted_candidates}")

Found 1 candidate:
((3, 2, ' Hilary', ' MBA', ' Cython', 2024),)

In [49]:
stud_rec

((3, 2, ' Hilary', ' MBA', ' Cython', 2024),
 (2, 1, ' Manohar', ' B.Tech', ' Python', 2022))

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [5]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
set1, set2, set3 = set(ar1), set(ar2), set(ar3)
union = set1.intersection(set2, set3)
print(union)

{80, 20}

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [11]:
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
uniqueVowels = {}
uniqueVowels = {i for i in str1 if i in vowels and i not in uniqueVowels}
print(f"No of unique vowels-{len(uniqueVowels)}")

No of unique vowels-6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [13]:
user_str = input("Enter an string to check if it is binary")
unique_chars = {}
unique_chars = {i for i in user_str if i not in unique_chars}
if len(unique_chars) == 2:
  print(f"The string {user_str} is binary")
else:
  print(f"The string {user_str} is not binary")
print(unique_chars)

The string helo is not binary
{'h', 'o', 'e', 'l'}

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [29]:
mat = [[1, 2, 2, 4, 3, 6],
      [5, 1, 3, 4],
      [9, 5, 7, 1],
      [2, 4, 1, 3]]

matset = set()
for row in mat:
  matset.update(set(row))
unionArray = list(matset)
print(unionArray)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [31]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
list1, list2 = list(lst1), list(lst2)
[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [12]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
uniqueValList = []

# for counting the unique occurences of elements in the value lists
for key, value in test_dict.items():
  uniqueValCount = 0
  temp = []
  for char in value:
    if char not in temp:
      uniqueValCount += 1
      temp.append(char)
  # uniqueValList.append({key: uniqueValCount})
  uniqueValList.append(uniqueValCount)
print(uniqueValList)

# extracting keys from the original dictionary
keysList = list(test_dict.keys())
print(keysList)

# associating the keys with the needed values and forming a dictionary
uniqueValDict = dict(zip(keysList, uniqueValList))
print(uniqueValDict)

# searching for the key with the maximum value
keyWithMaxVal = max(uniqueValDict, key = uniqueValDict.get)
print(keyWithMaxVal)

[5, 4, 3]
['CampusX', 'is', 'Best']
{'CampusX': 5, 'is': 4, 'Best': 3}
CampusX

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# write your code here

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# write your code here

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [14]:
tuple_data = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
{key:value for (key, value) in tuple_data}

{'akash': 10,
 'gaurav': 12,
 'anand': 14,
 'suraj': 20,
 'akhil': 25,
 'ashish': 30}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# write your code here