## **Questions based on Titanic Dataset:**

To read the dataset as csv, use the below code:

```python
import pandas as pd

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
titanic_df = pd.read_csv(url)
```

In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('data/train - train.csv')
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
titanic_df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

### `Q-1:` Using `groupby` make groups using the `"Pclass"` column and find out the average age and total number of missing values in the `"Age"` column for every group.

In [6]:
Pclass_grp = titanic_df.groupby('Pclass')
Pclass_grp['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [17]:
Pclass_grp['Age'].apply(lambda x: x.isna().sum())

Pclass
1     30
2     11
3    136
Name: Age, dtype: int64

### `Q-2:` Using `groupby` make groups using the `"Pclass"` column and fill every group's `"Embarked"` column's missing values with the mode value of that group. After that, print every group's `"Embarked"` column's value counts in ascending order.

In [70]:
mode_series = Pclass_grp['Embarked'].aggregate(lambda x : x.astype('category').mode())
mode_series

Pclass
1    S
2    S
3    S
Name: Embarked, dtype: object

In [91]:
def fill_with_mode(x):
    mode = x.mode()
    if not mode.empty:
        return x.fillna(mode[0])
    else:
        return x.fillna('Unknown')  # fallback if group has no mode

Pclass_grp['Embarked'].apply(fill_with_mode)

Pclass
1       1      C
        3      S
        6      S
        11     S
        23     S
              ..
3       882    S
        884    S
        885    Q
        888    S
        890    Q
Name: Embarked, Length: 891, dtype: object

### `Q-3:` Make groups based on `"Embarked"` column. And for each of this embarked group, make another group based on `"Pclass"` and find out the average fare (round off up to 2 decimal places) for each "Pclass" for each group of "Embarked".

**Sample Output:**

```bash
{'C': {1: 105, 2: 25, 3: 11},
 'Q': {1: 90, 2: 12, 3: 11},
 'S': {1: 70, 2: 20, 3: 15}}
```

In [ ]:
# code here

## **Questions Based on Fifa Worldcup - 2022 Dataset:**

You can read the dataset by using the below sample code

```python
import pandas as pd

fifa_df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv")
```

In [103]:
fifa_df = pd.read_csv('data/Fifa Worldcup 2022 - Sheet1.csv')
fifa_df.head(2)
# fifa_df.columns

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3

### `Q-4:` Perform `groupby` based on the `"Team"` column and then perform Z Normalization on top of the below columns of each group:
1. Passes
2. Passes Completed
3. Attempted Line Breaks
4. Completed Line Breaks

You have to make a python function named `z_normalization` which takes two arguments:

1. *group:* Every group that you have created
2. *cols_to_perform:* This parameter takes a list of columns on which you have to perform the Z-Normalization.

For this problem, you have to use th `apply()` method.

$\Large Z \ - \ Normalization = \frac{X_i - \mu}{std} $

After that find out the below values for each group:
- minimum "Passess"
- maximum "Passess"
- minimum "Yellow Cards"
- maximum "Yellow cards"
- average "Yellow Cards"
- maximum "Attempted Line Breaks"
- minimum "Attempted Line Breaks"
- standardard deviation of "Attempted Line Breaks"
- average Possession

In [96]:
fifaTeam_grp = fifa_df.groupby("Team")

In [122]:
def z_normalization(group, cols_to_perform):
    group_mean = group[cols_to_perform].mean()
    group_stdDev = group[cols_to_perform].std()
    z_normalized_group = (group[cols_to_perform] - group_mean) / group_stdDev
    return z_normalized_group

fifa_normalized = fifaTeam_grp.apply(z_normalization, cols_to_perform=['Passes', 'Yellow Cards', 'Attempted Line Breaks', 'Possession (%)'])
fifa_normalized

/tmp/ipykernel_54631/3274177690.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  fifa_normalized = fifaTeam_grp.apply(z_normalization, cols_to_perform=['Passes', 'Yellow Cards', 'Attempted Line Breaks', 'Possession (%)'])

                 Passes  Yellow Cards  Attempted Line Breaks  Possession (%)
Team
Argentina 8   -0.208138     -0.796358               0.364745        0.170941
          46  -0.630447     -0.447952              -0.795806        0.071225
          77   1.685214     -0.447952              -1.027917        1.766389
          98   0.622403     -0.796358               0.003684        0.370372
          115 -0.137753      1.990896               0.571065       -0.527068
...                 ...           ...                    ...             ...
Uruguay   63  -0.931702      0.000000              -0.484182       -0.832050
          89  -0.124867      1.000000               1.149932       -0.277350
Wales     7   -0.054584      0.577350               0.226294       -0.218218
          32   1.026174     -1.154701               0.867461        1.091089
          68  -0.971590      0.577350              -1.093756       -0.872872

[128 rows x 4 columns]

In [128]:
fifa_normalized = fifa_normalized.groupby('Team')
fifa_normalized.agg({
    'Passes': ['min', 'max'],
    'Yellow Cards': ['min', 'max', 'mean'],
    'Attempted Line Breaks': ['min', 'max', 'std'],
    'Possession (%)': 'std'
})

                  Passes           Yellow Cards                          \
                     min       max          min       max          mean
Team
Argentina      -1.510257  1.685214    -0.796358  1.990896  3.172066e-17
Australia      -1.114789  0.932782    -1.390759  0.993399  0.000000e+00
Belgium        -1.082696  0.888950    -0.577350  1.154701 -7.401487e-17
Brazil         -0.928871  1.609122    -0.920358  1.380537  4.440892e-17
Cameroon       -0.875605  1.089713    -0.800641  1.120897  7.401487e-17
Canada         -1.120897  0.800641    -0.577350  1.154701  1.480297e-16
Costa Rica     -1.013178  0.986279    -1.000000  1.000000  0.000000e+00
Croatia        -1.441280  1.093005    -1.069045  0.801784  6.344132e-17
Denmark        -1.046208  0.946290    -1.154701  0.577350 -1.480297e-16
Ecuador        -0.883020  1.085876    -1.000000  1.000000  0.000000e+00
England        -0.877731  1.705844    -0.447214  1.788854  0.000000e+00
France         -1.219077  1.571019    -0.849591  1.380585  6.344132e-17
Germany        -1.131449  0.765392    -0.577350  1.154701  0.000000e+00
Ghana          -1.045786  0.946861    -0.577350  1.154701  1.480297e-16
Iran           -0.820695  1.113800    -0.577350  1.154701 -2.960595e-16
Japan          -1.001479  0.979825    -0.866025  0.866025  0.000000e+00
Korea Republic -1.157924  0.877868    -0.866025  0.866025  0.000000e+00
Mexico         -0.918398  1.065342    -0.872872  1.091089 -1.110223e-16
Morocco        -1.384362  1.662218    -1.351691  1.802254 -1.110223e-16
Netherlands    -1.051749  1.428668    -1.213560  1.483240  0.000000e+00
Poland         -0.694755  1.483035    -0.783349  1.305582 -4.163336e-17
Portugal       -1.646177  1.035658    -0.920358  1.380537  6.106227e-17
Qatar          -1.147558  0.684833    -1.120897  0.800641 -7.401487e-17
Saudi Arabia   -0.667896  1.149691    -1.154701  0.577350 -1.480297e-16
Senegal        -1.214144  1.235077    -0.783349  1.305582 -5.551115e-17
Serbia         -1.089807  0.875419    -0.755929  1.133893  0.000000e+00
Spain          -1.498758  0.554601    -0.866025  0.866025  0.000000e+00
Switzerland    -1.469082  0.754945    -0.993399  1.390759 -2.775558e-17
Tunisia        -0.965692  1.031097    -0.577350  1.154701 -7.401487e-17
United States  -1.136338  0.860862    -0.660338  1.452744  5.551115e-17
Uruguay        -0.931702  1.056570    -1.000000  1.000000  0.000000e+00
Wales          -0.971590  1.026174    -1.154701  0.577350 -1.480297e-16

               Attempted Line Breaks                Possession (%)
                                 min       max  std            std
Team
Argentina                  -1.027917  1.757406  1.0            1.0
Australia                  -1.187623  0.961409  1.0            1.0
Belgium                    -0.832050  1.109400  1.0            1.0
Brazil                     -1.627519  1.085013  1.0            1.0
Cameroon                   -1.124661  0.788942  1.0            1.0
Canada                     -1.094819  0.865260  1.0            1.0
Costa Rica                 -1.154606  0.590132  1.0            1.0
Croatia                    -1.785063  1.187420  1.0            1.0
Denmark                    -1.000000  1.000000  1.0            1.0
Ecuador                    -0.979827  1.019020  1.0            1.0
England                    -1.172641  1.354603  1.0            1.0
France                     -1.327966  1.147789  1.0            1.0
Germany                    -0.959538  1.036065  1.0            1.0
Ghana                      -1.019578  0.979199  1.0            1.0
Iran                       -1.152297  0.640642  1.0            1.0
Japan                      -0.948495  1.377855  1.0            1.0
Korea Republic             -1.449814  0.840338  1.0            1.0
Mexico                     -1.154613  0.589590  1.0            1.0
Morocco                    -1.718366  1.006855  1.0            1.0
Netherlands                -1.222637  1.128588  1.0            1.0
Poland                     -1.493418  0.626272  1.0            1.0
Portugal                   -0.796941  1.655185  1.0            1.0
Qatar                      -0.815368  1.115767  1.0            1.0
Saudi Arabia               -1.022179  0.976238  1.0            1.0
Senegal                    -1.077420  1.343085  1.0            1.0
Serbia                     -0.916387  1.066614  1.0            1.0
Spain                      -0.905726  1.193911  1.0            1.0
Switzerland                -1.300880  1.024097  1.0            1.0
Tunisia                    -1.119304  0.805353  1.0            1.0
United States              -1.435367  0.767335  1.0            1.0
Uruguay                    -0.665750  1.149932  1.0            1.0
Wales                      -1.093756  0.867461  1.0            1.0

## **Questions on IPL wala dataset**

ball by ball dataset - https://drive.google.com/file/d/1-kvv_9KCSAFWcrhS9WgTxSrURkRh6GNt/view?usp=share_link

In [3]:
ipl_deliveries = pd.read_csv('data/ipl_deliveries.csv')
ipl_deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225954 entries, 0 to 225953
Data columns (total 19 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 225954 non-null  int64
 1   Team               225954 non-null  object
 2   innings            225954 non-null  int64
 3   overs              225954 non-null  int64
 4   ballnumber         225954 non-null  int64
 5   batter             225954 non-null  object
 6   bowler             225954 non-null  object
 7   non-striker        225954 non-null  object
 8   extra_type         12049 non-null   object
 9   batsman_run        225954 non-null  int64
 10  extras_run         225954 non-null  int64
 11  total_run          225954 non-null  int64
 12  non_boundary       225954 non-null  int64
 13  isWicketDelivery   225954 non-null  int64
 14  player_out         11151 non-null   object
 15  kind               11151 non-null   object
 16  fielders_involved  7988 non-null    object
 17  BattingTeam        225954 non-null  object
 18  BowlingTeam        225954 non-null  object
dtypes: int64(9), object(10)
memory usage: 32.8+ MB

In [140]:
ipl_deliveries.sample(5)

,ID,Team,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
108888,829775,Kings XI PunjabMumbai Indians,1,0,2,LMP Simmons,Sandeep Sharma,PA Patel,NaN,4,0,4,0,0,NaN,NaN,NaN,Mumbai Indians,Kings XI Punjab
4911,1304100,Royal Challengers BangaloreSunrisers Hyderabad,1,17,5,F du Plessis,B Kumar,GJ Maxwell,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Sunrisers Hyderabad
49404,1178425,Chennai Super KingsDelhi Capitals,1,18,6,MS Dhoni,CH Morris,AT Rayudu,noballs,6,1,7,0,0,NaN,NaN,NaN,Chennai Super Kings,Delhi Capitals
50754,1178419,Mumbai IndiansChennai Super Kings,2,13,3,MJ Santner,HH Pandya,DJ Bravo,noballs,1,1,2,0,0,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians
6222,1304095,Royal Challengers BangaloreChennai Super Kings,2,14,1,DP Conway,PWH de Silva,MM Ali,NaN,0,0,0,0,1,DP Conway,caught,Shahbaz Ahmed,Chennai Super Kings,Royal Challengers Bangalore

### `Q-5:` Find batsman in below category-
* Highest score while chasing
* Best Strike rate while chasing and have faced 100+ balls


> Chasing means team batting in second inning

In [4]:
# the below code is valid wherein we want to apply an agg func to only one of the cols and not to the rest of the cols
highest_score = ipl_deliveries.groupby('batter').agg({
    'batsman_run': 'sum',   # Sum up the batsman_run
    'innings': 'first'      # Keep the first entry of innings for each batter
}).sort_values(by='batsman_run', ascending=False)

highest_score[highest_score['innings'] == 2].head(1)

          batsman_run  innings
batter
S Dhawan         6244        2

### `Q-6` Most Successful bowler against any batsman. Find that pair of bowler and batsman.
> Most Successful in terms of dissmissal. A bowler who have dissmissed any batsman most no of times. If any two pairs have same no of dissmisal, consider runs conceded by bowler to that batsman. Those who have concede lesser runs is more successful.

In [ ]:
# code here

### `Q-7`: Most successful batting pair in IPL. Batting pair who have scored most runs playing together.

In [155]:
ipl_deliveries.groupby(['batter', 'non-striker'])['total_run'].sum().sort_values(ascending=False).head(1)

batter          non-striker
AB de Villiers  V Kohli        1623
Name: total_run, dtype: int64

### `Q-8:` Make a dataframe for all batting pairs played together.
```
Batsman1 Batsman2 Runs Avg StrikeRate
```

> Just to ease this question you can count wide-balls for strike rate.

In [ ]:
ipl_deliveries.groupby(['batter', 'non-striker'])[['batter', 'non-striker', 'total_run']]

                                                                           batter  \
batter         non-striker
A Ashish Reddy A Mishra         A Ashish ReddyA Ashish ReddyA Ashish ReddyA As...
               AA Jhunjhunwala         A Ashish ReddyA Ashish ReddyA Ashish Reddy
               CL White                A Ashish ReddyA Ashish ReddyA Ashish Reddy
               DB Ravi Teja            A Ashish ReddyA Ashish ReddyA Ashish Reddy
               DJG Sammy        A Ashish ReddyA Ashish ReddyA Ashish ReddyA As...
...                                                                           ...
Z Khan         S Aravind                                             Z KhanZ Khan
               S Nadeem                            Z KhanZ KhanZ KhanZ KhanZ Khan
               SL Malinga        Z KhanZ KhanZ KhanZ KhanZ KhanZ KhanZ KhanZ Khan
               SR Tendulkar                                    Z KhanZ KhanZ Khan
               SS Tiwary        Z KhanZ KhanZ KhanZ KhanZ KhanZ KhanZ KhanZ Kh...

                                                                      non-striker  \
batter         non-striker
A Ashish Reddy A Mishra         A MishraA MishraA MishraA MishraA MishraA Mish...
               AA Jhunjhunwala      AA JhunjhunwalaAA JhunjhunwalaAA Jhunjhunwala
               CL White                                  CL WhiteCL WhiteCL White
               DB Ravi Teja                  DB Ravi TejaDB Ravi TejaDB Ravi Teja
               DJG Sammy        DJG SammyDJG SammyDJG SammyDJG SammyDJG SammyD...
...                                                                           ...
Z Khan         S Aravind                                       S AravindS Aravind
               S Nadeem                  S NadeemS NadeemS NadeemS NadeemS Nadeem
               SL Malinga       SL MalingaSL MalingaSL MalingaSL MalingaSL Mal...
               SR Tendulkar                  SR TendulkarSR TendulkarSR Tendulkar
               SS Tiwary        SS TiwarySS TiwarySS TiwarySS TiwarySS TiwaryS...

                                total_run
batter         non-striker
A Ashish Reddy A Mishra                19
               AA Jhunjhunwala          3
               CL White                 3
               DB Ravi Teja             6
               DJG Sammy               26
...                                   ...
Z Khan         S Aravind                0
               S Nadeem                 3
               SL Malinga              17
               SR Tendulkar             2
               SS Tiwary               21

[8062 rows x 3 columns]