In [2]:
import numpy as np
import pandas as pd

# to visualize all the column, run the below code
# pd.options.display.max_columns = None
# or run the below line of code to reset the above line of code
# pd.reset_option('display.max_columns')
# to show all the records, use the below code
# pd.options.display.max_rows = None

## Fifa Worldcup - 2022 dataset.

You can find the dataset from [here](https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results).

Also you can directly use an url to read the dataset by using `pd.read_csv()` method. Check the below code cell.

In [2]:
# To get the details about the dataset, please visit
# https://www.kaggle.com/datasets/sayanroy729/fifa-worldcup-2022-results

url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vT3D_x_4DS6d51LKJ7ze1sxT5WpV5uiSVOFYHLwBiGru6vFyVv5h5-83AwFjxWYiWfCDjDAaarHAV-k/pub?gid=0&single=true&output=csv"
df = pd.read_csv(url)
df.head()

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0

### `Q-1:` Use the football dataset. Find out the total percentages that each team made on target. Display the result as a python dictionary where the keys are the team list and the values are the percentage values. Round off the percentage values up to 2 decimal places.

*Help:*
- First, find out how many total teams are participated in this worldcup. For that, you can use `unique()` method on the column "Team" or "Against".
- Loop through the teams list that you have found in previous section, and then filter the dataset according to that. After filtering the dataset, find out total attempts sum and total on target sum.
- After getting these values, find out the percentage by total on target divided by total attempts and multiply by 100. And store to a python dictionary where the key will be the team name and the values will be the percentages.
- At the end,sort the dictionary by the values (not by the keys) and print the result.


**Sample Output:**
```bash
{'Costa Rica': 54.55,
 'Cameroon': 51.85,
 'Ecuador': 48.15,
 'Argentina': 46.99,
 'Brazil': 45.56,
 'England': 45.0,
 'Portugal': 40.32,
 'Ghana': 40.0,
 'Netherlands': 39.02,
 'Korea Republic': 36.73,
 'Australia': 36.0,
 'Mexico': 34.88,
 'Croatia': 34.78,
 'Germany': 34.33,
 'France': 32.97,
 'Spain': 32.69,
 'Belgium': 32.35,
 'Serbia': 32.26,
 'Iran': 31.43,
 'Uruguay': 31.25,
 'United States': 31.11,
 'Saudi Arabia': 31.03,
 'Senegal': 30.77,
 'Denmark': 30.56,
 'Switzerland': 30.56,
 'Japan': 30.23,
 'Wales': 29.17,
 'Qatar': 28.57,
 'Morocco': 28.3,
 'Tunisia': 26.67,
 'Poland': 25.0,
 'Canada': 17.65}
```

In [3]:
# i. Teams
df['Team'].unique()

array(['Qatar', 'Ecuador', 'England', 'Iran', 'Senegal', 'Netherlands',
       'United States', 'Wales', 'Argentina', 'Saudi Arabia', 'Denmark',
       'Tunisia', 'Mexico', 'Poland', 'France', 'Australia', 'Morocco',
       'Croatia', 'Germany', 'Japan', 'Spain', 'Costa Rica', 'Belgium',
       'Canada', 'Switzerland', 'Cameroon', 'Uruguay', 'Korea Republic',
       'Portugal', 'Ghana', 'Brazil', 'Serbia'], dtype=object)

In [4]:
# ii. "total attempts' sum and "on target" sum (manual method using dict)
def total_sum(df):
    teams_dict = {}
    for index, team in enumerate(df['Team']):
        if team in teams_dict:
            teams_dict[team] += df['Total Attempts'].iloc[index]
        else:
            teams_dict[team] = df['Total Attempts'].iloc[index]
    return teams_dict

teams = total_sum(df)
for key, value in teams.items():
    print(key, value, end='\n')

# alternate code cell provided below

Qatar 21
Ecuador 27
England 60
Iran 35
Senegal 52
Netherlands 41
United States 45
Wales 24
Argentina 104
Saudi Arabia 29
Denmark 36
Tunisia 30
Mexico 43
Poland 32
France 101
Australia 25
Morocco 60
Croatia 83
Germany 67
Japan 43
Spain 52
Costa Rica 11
Belgium 34
Canada 34
Switzerland 36
Cameroon 27
Uruguay 32
Korea Republic 49
Portugal 62
Ghana 25
Brazil 90
Serbia 31

In [5]:
# ii. "total attempts' sum and "on target" sum (groupby method, simpler and better)
teams = df.groupby('Team')[['Total Attempts', 'On Target']].sum()
teams

                Total Attempts  On Target
Team
Argentina                  104         48
Australia                   25          9
Belgium                     34         11
Brazil                      90         41
Cameroon                    27         14
Canada                      34          6
Costa Rica                  11          6
Croatia                     83         28
Denmark                     36         11
Ecuador                     27         13
England                     60         27
France                     101         35
Germany                     67         23
Ghana                       25         10
Iran                        35         11
Japan                       43         13
Korea Republic              49         18
Mexico                      43         15
Morocco                     60         17
Netherlands                 41         16
Poland                      32          8
Portugal                    62         25
Qatar                       21          6
Saudi Arabia                29          9
Senegal                     52         16
Serbia                      31         10
Spain                       52         17
Switzerland                 36         11
Tunisia                     30          8
United States               45         14
Uruguay                     32         10
Wales                       24          7

In [6]:
# iii. Percentage of 'On Target' hits out of 'Total Attempts'
teams['percentage_onTarget'] = (teams['On Target']/teams['Total Attempts'])*100
teams

# continued below code cell

                Total Attempts  On Target  percentage_onTarget
Team
Argentina                  104         48            46.153846
Australia                   25          9            36.000000
Belgium                     34         11            32.352941
Brazil                      90         41            45.555556
Cameroon                    27         14            51.851852
Canada                      34          6            17.647059
Costa Rica                  11          6            54.545455
Croatia                     83         28            33.734940
Denmark                     36         11            30.555556
Ecuador                     27         13            48.148148
England                     60         27            45.000000
France                     101         35            34.653465
Germany                     67         23            34.328358
Ghana                       25         10            40.000000
Iran                        35         11            31.428571
Japan                       43         13            30.232558
Korea Republic              49         18            36.734694
Mexico                      43         15            34.883721
Morocco                     60         17            28.333333
Netherlands                 41         16            39.024390
Poland                      32          8            25.000000
Portugal                    62         25            40.322581
Qatar                       21          6            28.571429
Saudi Arabia                29          9            31.034483
Senegal                     52         16            30.769231
Serbia                      31         10            32.258065
Spain                       52         17            32.692308
Switzerland                 36         11            30.555556
Tunisia                     30          8            26.666667
United States               45         14            31.111111
Uruguay                     32         10            31.250000
Wales                       24          7            29.166667

In [7]:
team_dict = teams.to_dict(orient='index')
team_dict

{'Argentina': {'Total Attempts': 104,
  'On Target': 48,
  'percentage_onTarget': 46.15384615384615},
 'Australia': {'Total Attempts': 25,
  'On Target': 9,
  'percentage_onTarget': 36.0},
 'Belgium': {'Total Attempts': 34,
  'On Target': 11,
  'percentage_onTarget': 32.35294117647059},
 'Brazil': {'Total Attempts': 90,
  'On Target': 41,
  'percentage_onTarget': 45.55555555555556},
 'Cameroon': {'Total Attempts': 27,
  'On Target': 14,
  'percentage_onTarget': 51.85185185185185},
 'Canada': {'Total Attempts': 34,
  'On Target': 6,
  'percentage_onTarget': 17.647058823529413},
 'Costa Rica': {'Total Attempts': 11,
  'On Target': 6,
  'percentage_onTarget': 54.54545454545454},
 'Croatia': {'Total Attempts': 83,
  'On Target': 28,
  'percentage_onTarget': 33.734939759036145},
 'Denmark': {'Total Attempts': 36,
  'On Target': 11,
  'percentage_onTarget': 30.555555555555557},
 'Ecuador': {'Total Attempts': 27,
  'On Target': 13,
  'percentage_onTarget': 48.148148148148145},
 'England': {'Total Attempts': 60,
  'On Target': 27,
  'percentage_onTarget': 45.0},
 'France': {'Total Attempts': 101,
  'On Target': 35,
  'percentage_onTarget': 34.65346534653465},
 'Germany': {'Total Attempts': 67,
  'On Target': 23,
  'percentage_onTarget': 34.32835820895522},
 'Ghana': {'Total Attempts': 25, 'On Target': 10, 'percentage_onTarget': 40.0},
 'Iran': {'Total Attempts': 35,
  'On Target': 11,
  'percentage_onTarget': 31.428571428571427},
 'Japan': {'Total Attempts': 43,
  'On Target': 13,
  'percentage_onTarget': 30.23255813953488},
 'Korea Republic': {'Total Attempts': 49,
  'On Target': 18,
  'percentage_onTarget': 36.734693877551024},
 'Mexico': {'Total Attempts': 43,
  'On Target': 15,
  'percentage_onTarget': 34.883720930232556},
 'Morocco': {'Total Attempts': 60,
  'On Target': 17,
  'percentage_onTarget': 28.333333333333332},
 'Netherlands': {'Total Attempts': 41,
  'On Target': 16,
  'percentage_onTarget': 39.02439024390244},
 'Poland': {'Total Attempts': 32, 'On Target': 8, 'percentage_onTarget': 25.0},
 'Portugal': {'Total Attempts': 62,
  'On Target': 25,
  'percentage_onTarget': 40.32258064516129},
 'Qatar': {'Total Attempts': 21,
  'On Target': 6,
  'percentage_onTarget': 28.57142857142857},
 'Saudi Arabia': {'Total Attempts': 29,
  'On Target': 9,
  'percentage_onTarget': 31.03448275862069},
 'Senegal': {'Total Attempts': 52,
  'On Target': 16,
  'percentage_onTarget': 30.76923076923077},
 'Serbia': {'Total Attempts': 31,
  'On Target': 10,
  'percentage_onTarget': 32.25806451612903},
 'Spain': {'Total Attempts': 52,
  'On Target': 17,
  'percentage_onTarget': 32.69230769230769},
 'Switzerland': {'Total Attempts': 36,
  'On Target': 11,
  'percentage_onTarget': 30.555555555555557},
 'Tunisia': {'Total Attempts': 30,
  'On Target': 8,
  'percentage_onTarget': 26.666666666666668},
 'United States': {'Total Attempts': 45,
  'On Target': 14,
  'percentage_onTarget': 31.11111111111111},
 'Uruguay': {'Total Attempts': 32,
  'On Target': 10,
  'percentage_onTarget': 31.25},
 'Wales': {'Total Attempts': 24,
  'On Target': 7,
  'percentage_onTarget': 29.166666666666668}}

In [89]:
sorted_teams = dict(sorted(
    team_dict.items(),
    key=lambda item: item[1]['percentage_onTarget'],
    reverse=True  # Remove this if you want ascending order
))
sorted_teams

{'Costa Rica': {'Total Attempts': 11,
  'On Target': 6,
  'percentage_onTarget': 54.54545454545454},
 'Cameroon': {'Total Attempts': 27,
  'On Target': 14,
  'percentage_onTarget': 51.85185185185185},
 'Ecuador': {'Total Attempts': 27,
  'On Target': 13,
  'percentage_onTarget': 48.148148148148145},
 'Argentina': {'Total Attempts': 104,
  'On Target': 48,
  'percentage_onTarget': 46.15384615384615},
 'Brazil': {'Total Attempts': 90,
  'On Target': 41,
  'percentage_onTarget': 45.55555555555556},
 'England': {'Total Attempts': 60,
  'On Target': 27,
  'percentage_onTarget': 45.0},
 'Portugal': {'Total Attempts': 62,
  'On Target': 25,
  'percentage_onTarget': 40.32258064516129},
 'Ghana': {'Total Attempts': 25, 'On Target': 10, 'percentage_onTarget': 40.0},
 'Netherlands': {'Total Attempts': 41,
  'On Target': 16,
  'percentage_onTarget': 39.02439024390244},
 'Korea Republic': {'Total Attempts': 49,
  'On Target': 18,
  'percentage_onTarget': 36.734693877551024},
 'Australia': {'Total Attempts': 25,
  'On Target': 9,
  'percentage_onTarget': 36.0},
 'Mexico': {'Total Attempts': 43,
  'On Target': 15,
  'percentage_onTarget': 34.883720930232556},
 'France': {'Total Attempts': 101,
  'On Target': 35,
  'percentage_onTarget': 34.65346534653465},
 'Germany': {'Total Attempts': 67,
  'On Target': 23,
  'percentage_onTarget': 34.32835820895522},
 'Croatia': {'Total Attempts': 83,
  'On Target': 28,
  'percentage_onTarget': 33.734939759036145},
 'Spain': {'Total Attempts': 52,
  'On Target': 17,
  'percentage_onTarget': 32.69230769230769},
 'Belgium': {'Total Attempts': 34,
  'On Target': 11,
  'percentage_onTarget': 32.35294117647059},
 'Serbia': {'Total Attempts': 31,
  'On Target': 10,
  'percentage_onTarget': 32.25806451612903},
 'Iran': {'Total Attempts': 35,
  'On Target': 11,
  'percentage_onTarget': 31.428571428571427},
 'Uruguay': {'Total Attempts': 32,
  'On Target': 10,
  'percentage_onTarget': 31.25},
 'United States': {'Total Attempts': 45,
  'On Target': 14,
  'percentage_onTarget': 31.11111111111111},
 'Saudi Arabia': {'Total Attempts': 29,
  'On Target': 9,
  'percentage_onTarget': 31.03448275862069},
 'Senegal': {'Total Attempts': 52,
  'On Target': 16,
  'percentage_onTarget': 30.76923076923077},
 'Denmark': {'Total Attempts': 36,
  'On Target': 11,
  'percentage_onTarget': 30.555555555555557},
 'Switzerland': {'Total Attempts': 36,
  'On Target': 11,
  'percentage_onTarget': 30.555555555555557},
 'Japan': {'Total Attempts': 43,
  'On Target': 13,
  'percentage_onTarget': 30.23255813953488},
 'Wales': {'Total Attempts': 24,
  'On Target': 7,
  'percentage_onTarget': 29.166666666666668},
 'Qatar': {'Total Attempts': 21,
  'On Target': 6,
  'percentage_onTarget': 28.57142857142857},
 'Morocco': {'Total Attempts': 60,
  'On Target': 17,
  'percentage_onTarget': 28.333333333333332},
 'Tunisia': {'Total Attempts': 30,
  'On Target': 8,
  'percentage_onTarget': 26.666666666666668},
 'Poland': {'Total Attempts': 32, 'On Target': 8, 'percentage_onTarget': 25.0},
 'Canada': {'Total Attempts': 34,
  'On Target': 6,
  'percentage_onTarget': 17.647058823529413}}

### Q-2: Fifa World Cup 2022: Team Participation and Ranking

In the context of the Fifa World Cup 2022, you are tasked with analyzing the participation of various teams and determining their performance based on the number of times they played in the tournament.

**Steps:**

1. **Count the number of times each team played:**
   You need to calculate how many times each team participated in the tournament. This can be done by counting the occurrences of each team in the dataset.

2. **Rank the teams based on their participation:**
   Once you have the number of appearances for each team, assign ranks to the teams based on their participation count. Use the **`DataFrame.rank()`** method with the `method="first"` parameter to ensure that the ranks are assigned as integers based on the order of appearance in case of ties. (Note: By default, the `rank()` method assigns ranks with a float type when using `method="average"`, but with `method="first"`, it will return integer-like ranks in float datatype).

**Expected Outcome:**

* A count of how many times each team has played.
* The corresponding ranks of the teams, where teams with more appearances receive higher ranks.

In [25]:
df['Team'].value_counts().rank(method='first', ascending=False).sort_values()

Team
France             1.0
Argentina          2.0
Croatia            3.0
Morocco            4.0
Brazil             5.0
Portugal           6.0
England            7.0
Netherlands        8.0
Spain              9.0
Japan             10.0
Switzerland       11.0
Korea Republic    12.0
Australia         13.0
Poland            14.0
Senegal           15.0
United States     16.0
Mexico            17.0
Saudi Arabia      18.0
Denmark           19.0
Tunisia           20.0
Iran              21.0
Ecuador           22.0
Qatar             23.0
Wales             24.0
Canada            25.0
Belgium           26.0
Costa Rica        27.0
Germany           28.0
Uruguay           29.0
Cameroon          30.0
Ghana             31.0
Serbia            32.0
Name: count, dtype: float64

### `Q-3:` Find out these below topics:
- The information about the Fifa worldcup dataset.
- The description about the Fifa worldcup dataset
- Check is there any missing values, if there is any missing values, fill that value with the average value for that particular column.
- Drop all the duplicate rows permanently.
- Drop the columns: "Sl No", "Match No.", "Red Cards" and "Pts" permanently.

In [31]:
# i. dataset info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Sl. No                           128 non-null    int64
 1   Match No.                        128 non-null    int64
 2   Team                             128 non-null    object
 3   Against                          128 non-null    object
 4   Group                            128 non-null    object
 5   Goal                             128 non-null    int64
 6   Possession (%)                   128 non-null    int64
 7   Inside Penalty Area              128 non-null    int64
 8   Outside Penalty Area             128 non-null    int64
 9   Assists                          128 non-null    int64
 10  Total Attempts                   128 non-null    int64
 11  On Target                        128 non-null    int64
 12  Off Target                       128 non-null    int64
 13  Target in Penalty                128 non-null    int64
 14  Target from Outside              128 non-null    int64
 15  Left Channel                     128 non-null    int64
 16  Left Inside Channel              128 non-null    int64
 17  Central Channel                  128 non-null    int64
 18  Right Inside Channel             128 non-null    int64
 19  Right Channel                    128 non-null    int64
 20  Receptions MD                    128 non-null    int64
 21  Receptions D                     128 non-null    int64
 22  Attempted Line Breaks            128 non-null    int64
 23  Completed Line Breaks            128 non-null    int64
 24  Attempted Defensive Line Breaks  128 non-null    int64
 25  Completed Defensive Line Breaks  128 non-null    int64
 26  Yellow Cards                     128 non-null    int64
 27  Red Cards                        128 non-null    int64
 28  Fouls Against                    128 non-null    int64
 29  Offsides                         128 non-null    int64
 30  Passes                           128 non-null    int64
 31  Passes Completed                 128 non-null    int64
 32  Crosses                          128 non-null    int64
 33  Crosses Completed                128 non-null    int64
 34  Corners                          128 non-null    int64
 35  Free Kicks                       128 non-null    int64
 36  Penalties Scored                 128 non-null    int64
 37  Pts                              128 non-null    int64
dtypes: int64(35), object(3)
memory usage: 38.1+ KB
None

In [ ]:
# ii. dataset description
print(df.describe())

           Sl. No   Match No.        Goal  Possession (%)  \
count  128.000000  128.000000  128.000000      128.000000
mean    64.500000   32.500000    1.343750       43.476562
std     37.094474   18.545539    1.342448       11.442403
min      1.000000    1.000000    0.000000       14.000000
25%     32.750000   16.750000    0.000000       35.000000
50%     64.500000   32.500000    1.000000       45.000000
75%     96.250000   48.250000    2.000000       51.000000
max    128.000000   64.000000    7.000000       78.000000

       Inside Penalty Area  Outside Penalty Area     Assists  Total Attempts  \
count           128.000000            128.000000  128.000000      128.000000
mean              1.203125              0.117188    0.914062       11.257812
std               1.324270              0.322907    1.150333        5.406683
min               0.000000              0.000000    0.000000        0.000000
25%               0.000000              0.000000    0.000000        7.750000
50%               1.000000              0.000000    1.000000       10.000000
75%               2.000000              0.000000    1.000000       14.000000
max               7.000000              1.000000    6.000000       32.000000

        On Target  Off Target  ...  Fouls Against    Offsides       Passes  \
count  128.000000  128.000000  ...     128.000000  128.000000   128.000000
mean     4.007812    4.835938  ...      12.320312    1.976562   502.859375
std      2.588576    2.610630  ...       4.691983    1.731891   160.160487
min      0.000000    0.000000  ...       0.000000    0.000000   225.000000
25%      2.000000    3.000000  ...       9.000000    1.000000   398.250000
50%      4.000000    4.000000  ...      12.000000    2.000000   495.500000
75%      6.000000    6.000000  ...      15.000000    3.000000   589.500000
max     13.000000   17.000000  ...      30.000000   10.000000  1070.000000

       Passes Completed     Crosses  Crosses Completed     Corners  \
count        128.000000  128.000000         128.000000  128.000000
mean         430.929688   19.523438           4.898438    4.468750
std          160.893724    8.596799           3.520111    2.774852
min          156.000000    4.000000           0.000000    0.000000
25%          323.250000   13.000000           3.000000    2.000000
50%          419.000000   19.000000           4.000000    4.000000
75%          519.750000   24.000000           6.000000    6.000000
max          994.000000   53.000000          25.000000   14.000000

       Free Kicks  Penalties Scored         Pts
count  128.000000        128.000000  128.000000
mean    14.250000          0.335938    1.429688
std      4.712189          0.941412    1.389973
min      5.000000          0.000000    0.000000
25%     11.000000          0.000000    0.000000
50%     14.000000          0.000000    1.000000
75%     17.000000          0.000000    3.000000
max     30.000000          5.000000    3.000000

[8 rows x 35 columns]

In [ ]:
# iii. checking for missing values and filling with the average value
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Sl. No, Match No., Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Red Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored, Pts]
Index: []

[0 rows x 38 columns]

In [39]:
# iv. check and drop any duplicate row
df[df.duplicated()]

Empty DataFrame
Columns: [Sl. No, Match No., Team, Against, Group, Goal, Possession (%), Inside Penalty Area, Outside Penalty Area, Assists, Total Attempts, On Target, Off Target, Target in Penalty, Target from Outside, Left Channel, Left Inside Channel, Central Channel, Right Inside Channel, Right Channel, Receptions MD, Receptions D, Attempted Line Breaks, Completed Line Breaks, Attempted Defensive Line Breaks, Completed Defensive Line Breaks, Yellow Cards, Red Cards, Fouls Against, Offsides, Passes, Passes Completed, Crosses, Crosses Completed, Corners, Free Kicks, Penalties Scored, Pts]
Index: []

[0 rows x 38 columns]

In [46]:
df.drop(['Sl. No', 'Match No.', 'Red Cards', 'Pts'], axis='columns', inplace=True)
df

,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,Total Attempts,On Target,...,Yellow Cards,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored
0,Qatar,Ecuador,A,0,40,0,0,0,5,0,...,4,15,3,453,387,10,5,1,19,0
1,Ecuador,Qatar,A,2,46,2,0,1,5,5,...,2,15,4,484,419,26,10,3,17,1
2,England,Iran,B,6,69,6,0,6,13,7,...,0,9,2,810,733,29,9,8,16,0
3,Iran,England,B,2,20,2,0,1,8,3,...,2,14,2,232,156,11,3,0,10,1
4,Senegal,Netherlands,A,0,39,0,0,0,15,4,...,2,13,2,391,326,22,8,6,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,Morocco,Fram,F,0,55,0,0,0,13,1,...,1,11,3,583,518,22,1,3,15,0
124,Croatia,Morocco,F,2,45,2,0,2,14,4,...,0,13,2,491,430,21,3,6,13,0
125,Morocco,Croatia,F,1,45,1,0,0,7,2,...,2,11,2,494,428,20,5,3,15,0
126,Argentina,France,C,3,46,3,0,1,21,9,...,4,26,4,648,544,20,4,6,22,5
127,France,Argentina,D,3,40,3,0,1,10,5,...,3,19,4,516,419,24,3,5,28,4

### `Q-4:` Do these below operations:
- Find out the rank based on the "Team" column and save the result by adding a new column named "Rank".
- Change the datatype of this column to integer by using `np.int16`
- Set the index of the DataFrame by using this "Rank" column permanently.
- After that, sort the dataframe based on the "Rank" index.

In [10]:
# i. Ranking team and adding rank column on the basis of count in Team col
team_rank = df['Team'].rank(method='first')
team_rank

# continued in the below code cell

Rank
1      126.0
2      127.0
3      128.0
4      123.0
5      124.0
       ...
124      3.0
125      4.0
126      5.0
127      6.0
128      7.0
Name: Team, Length: 128, dtype: float64

In [11]:
df['Rank'] = team_rank
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,8,4,Wales,United States,B,1,39,1,0,0,...,1,409,321,15,6,3,15,1,1,126.0
2,33,17,Wales,Iran,B,0,51,0,0,0,...,2,508,413,20,5,2,12,0,1,127.0
3,69,35,Wales,England,B,0,33,0,0,0,...,1,325,261,4,1,1,10,0,0,128.0
4,27,14,Uruguay,Korea Republic,H,0,49,0,0,0,...,1,528,459,16,4,4,10,0,1,123.0
5,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,0,390,306,18,5,2,13,0,0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,78,39,Argentina,Poland,C,2,67,1,1,2,...,0,862,814,22,5,9,5,0,3,3.0
125,99,50,Argentina,Australia,C,2,53,2,0,1,...,4,711,635,6,1,1,15,0,3,4.0
126,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,2,603,511,16,4,8,30,5,3,5.0
127,121,61,Argentina,Croatia,C,3,34,3,0,1,...,1,408,344,8,2,2,6,1,3,6.0
128,127,64,Argentina,France,C,3,46,3,0,1,...,4,648,544,20,4,6,22,5,3,7.0

In [12]:
# ii. change the dtype of Rank col to int16
df['Rank'] = df['Rank'].astype('int16')
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,8,4,Wales,United States,B,1,39,1,0,0,...,1,409,321,15,6,3,15,1,1,126
2,33,17,Wales,Iran,B,0,51,0,0,0,...,2,508,413,20,5,2,12,0,1,127
3,69,35,Wales,England,B,0,33,0,0,0,...,1,325,261,4,1,1,10,0,0,128
4,27,14,Uruguay,Korea Republic,H,0,49,0,0,0,...,1,528,459,16,4,4,10,0,1,123
5,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,0,390,306,18,5,2,13,0,0,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,78,39,Argentina,Poland,C,2,67,1,1,2,...,0,862,814,22,5,9,5,0,3,3
125,99,50,Argentina,Australia,C,2,53,2,0,1,...,4,711,635,6,1,1,15,0,3,4
126,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,2,603,511,16,4,8,30,5,3,5
127,121,61,Argentina,Croatia,C,3,34,3,0,1,...,1,408,344,8,2,2,6,1,3,6
128,127,64,Argentina,France,C,3,46,3,0,1,...,4,648,544,20,4,6,22,5,3,7

In [13]:
# iii. set the Rank column as the index of df
df.set_index(df['Rank'], inplace=True)
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Rank
Rank,,,,,,,,,,,,,,,,,,,,,
126,8,4,Wales,United States,B,1,39,1,0,0,...,1,409,321,15,6,3,15,1,1,126
127,33,17,Wales,Iran,B,0,51,0,0,0,...,2,508,413,20,5,2,12,0,1,127
128,69,35,Wales,England,B,0,33,0,0,0,...,1,325,261,4,1,1,10,0,0,128
123,27,14,Uruguay,Korea Republic,H,0,49,0,0,0,...,1,528,459,16,4,4,10,0,1,123
124,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,0,390,306,18,5,2,13,0,0,124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,78,39,Argentina,Poland,C,2,67,1,1,2,...,0,862,814,22,5,9,5,0,3,3
4,99,50,Argentina,Australia,C,2,53,2,0,1,...,4,711,635,6,1,1,15,0,3,4
5,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,2,603,511,16,4,8,30,5,3,5
6,121,61,Argentina,Croatia,C,3,34,3,0,1,...,1,408,344,8,2,2,6,1,3,6
7,127,64,Argentina,France,C,3,46,3,0,1,...,4,648,544,20,4,6,22,5,3,7

In [14]:
# iv. sort the column as per the index, i.e. Rank index
df.sort_index(inplace=True)
df

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts,Rank
Rank,,,,,,,,,,,,,,,,,,,,,
1,9,5,Argentina,Saudi Arabia,C,1,51,1,0,0,...,10,593,525,36,15,9,21,1,0,1
2,47,24,Argentina,Mexico,C,2,50,1,1,2,...,2,533,464,14,2,4,23,0,3,2
3,78,39,Argentina,Poland,C,2,67,1,1,2,...,0,862,814,22,5,9,5,0,3,3
4,99,50,Argentina,Australia,C,2,53,2,0,1,...,4,711,635,6,1,1,15,0,3,4
5,116,58,Argentina,Netherlands,C,2,44,2,0,1,...,2,603,511,16,4,8,30,5,3,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,64,32,Uruguay,Portugal,H,0,35,0,0,0,...,0,390,306,18,5,2,13,0,0,124
125,90,45,Uruguay,Ghana,H,2,39,2,0,1,...,2,446,361,15,4,2,20,0,3,125
126,8,4,Wales,United States,B,1,39,1,0,0,...,1,409,321,15,6,3,15,1,1,126
127,33,17,Wales,Iran,B,0,51,0,0,0,...,2,508,413,20,5,2,12,0,1,127
128,69,35,Wales,England,B,0,33,0,0,0,...,1,325,261,4,1,1,10,0,0,128

## Questions on Titanic dataset.

You can get the dataset from [here](https://www.kaggle.com/competitions/titanic). This is the competition page on Kaggle. To download the dataset from here, I guess you have to register for the compition. So, do so and then download the dataset.

Also, for now you can use this url to read the dataset like before:
- dataset 1: https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv
- dataset 2: https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv

In [63]:
dataset_1 = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQjh5HzZ1N0SU7ME9ZQRzeVTaXaGsV97rU8R7eAcg53k27GTstJp9cRUOfr55go1GRRvTz1NwvyOnuh/pub?gid=1562145139&single=true&output=csv"
dataset_2 = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQcPvQsSC9aNFogvbUG08nu0bGHlOclGYaOlhND_LE5Ff7ZnHQ5VYzAgpyT5XNklgiT54SsNgHePsUa/pub?gid=1656109608&single=true&output=csv"
train_df = pd.read_csv(dataset_1)
test_df = pd.read_csv(dataset_2)
print(train_df.info())
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
None

### `Q-5:` Do the below tasks:
1. With dataset 1, drop those records which only have missing values of the "Age" column permanently.

2. With the dataset 2, fill the missing values with 20 to the only "Age" column permanently.

In [69]:
train_df.dropna(subset='Age', inplace=True)
train_df[train_df['Age'].isna()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [74]:
test_df['Age'] = test_df['Age'].fillna(20)
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,20.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,20.0,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,20.0,1,1,2668,22.3583,NaN,C

### Why did I not use `inplace` param in the above code?

#### â“ Can you use `inplace=True` with `fillna()` on a column like this?

```python
test_df['Age'].fillna(20, inplace=True)
```

##### âš ï¸ **Short Answer:**

Yes, **you can**, but it's **not recommended** and may **not always work reliably** â€” especially in **future versions of pandas**.

---

#### ðŸ§  Here's Why:

##### ðŸ”¸ `test_df['Age']` is a **view** (or sometimes a copy) of the DataFrame

When you write:

```python
test_df['Age'].fillna(20, inplace=True)
```

You're calling `.fillna()` on a **Series**, not the full DataFrame.

* In some versions of pandas, this might **silently not work**, depending on whether `test_df['Age']` returns a **copy** or a **view** of the original data.
* Even if it *appears* to work now, it's **not guaranteed** to update the DataFrame in place.

> **âš ï¸ pandas gives a warning for this pattern**, and it's being discouraged.

---

##### ðŸ§ª Example (Problematic Code)

```python
test_df['Age'].fillna(20, inplace=True)  # Might not work reliably
```

May or may not update `test_df`, depending on the version of pandas and internal memory layout.

---

#### âœ… **Best Practice**

##### âœ… Preferred, Reliable Way:

```python
test_df['Age'] = test_df['Age'].fillna(20)
```

* **Always works**
* **Clear and explicit**
* **Future-proof**

---

##### âœ… Alternatively, fill multiple columns at once:

```python
test_df.fillna({'Age': 20}, inplace=True)
```

* This is valid and **safe**, because it's called on the **whole DataFrame**
* Use this if you're filling multiple columns at once

---

#### ðŸ§¾ Summary

| Method                                       | Works Reliably? | Recommended? | Notes                             |
| -------------------------------------------- | --------------- | ------------ | --------------------------------- |
| `test_df['Age'].fillna(20, inplace=True)`    | âŒ Not always    | âŒ No         | May not affect original DataFrame |
| `test_df['Age'] = test_df['Age'].fillna(20)` | âœ… Yes           | âœ… Yes        | Always works                      |
| `test_df.fillna({'Age': 20}, inplace=True)`  | âœ… Yes           | âœ… Yes        | Works for full DataFrame          |

## Questions on IPL wala dataset

matches dataset = https://drive.google.com/file/d/1yKVUuexl6lIKuFQy7uIPgDgXhJ0L4SIg/view?usp=share_link

Code to directly use in colab
```
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"

```

In [8]:
ipl_matches = "https://docs.google.com/spreadsheets/d/e/2PACX-1vRy2DUdUbaKx_Co9F0FSnIlyS-8kp4aKv_I0-qzNeghiZHAI_hw94gKG22XTxNJHMFnFVKsO4xWOdIs/pub?gid=1655759976&single=true&output=csv"
ipl = pd.read_csv(ipl_matches)
ipl.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

### `Q-6:` Make a dataframe of each team in IPL with details like - Team Name, Matches Played, Win%, Home Win%, Away Win%.
Show sorted dataframe on Win%

Replace old team name as new name before performing any tasks.
```
Delhi Daredevils ->Delhi Capitals
Kings XI Punjab -> Punjab Kings
Rising Pune Supergiants -> Rising Pune Supergiant
```

Note: Team1 represents Home team. Exclude not result matches.

In [9]:
# replacing old team names with new team names
ipl[['Team1', 'Team2', 'TossWinner', 'WinningTeam']] = ipl[['Team1', 'Team2', 'TossWinner', 'WinningTeam']].replace({
    'Delhi Daredevils': 'Delhi Capitals',
    'Kings XI Punjab ': 'Punjab Kings',
    'Rising Pune Supergiants': 'Rising Pune Supergiant'
})
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [5]:
ipl[['Team1', 'Team2', 'TossWinner', 'WinningTeam']]= ipl[['Team1', 'Team2', 'TossWinner', 'WinningTeam']].astype('category')
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

In [10]:
df = ipl[~ipl.WinningTeam.isna()]
new_df = pd.DataFrame()
teams = df.Team1.unique()
data = []
for team in teams:
    played = df[(df.Team1 == team) | (df.Team2 == team)].shape[0]
    wins = df[df.WinningTeam == team].shape[0]
    home_win = df[(df.WinningTeam == team) | (df.Team1 == team)].shape[0] / df[df.Team1 == team].shape[0] * 100
    away_win = df[(df.WinningTeam == team) | (df.Team2 == team)].shape[0] / df[df.Team2 == team].shape[0] * 100
    data.append([team, played, wins/played*100, home_win, away_win])

new_df[['Team', 'Matches Played', 'Win Percentage', 'Home Win Percentage', 'Away Win Percentage']] = data
new_df.sort_values("Win Percentage", inplace=True, ascending=False)
new_df

,Team,Matches Played,Win Percentage,Home Win Percentage,Away Win Percentage
5,Gujarat Titans,16,75.0,214.285714,144.444444
6,Lucknow Super Giants,15,60.0,125.0,200.0
4,Chennai Super Kings,208,58.173077,150.45045,167.010309
9,Mumbai Indians,231,56.709957,158.928571,154.621849
7,Kolkata Knight Riders,223,51.121076,155.238095,147.457627
0,Rajasthan Royals,190,50.526316,152.808989,148.514851
11,Rising Pune Supergiant,30,50.0,157.142857,143.75
2,Sunrisers Hyderabad,152,49.342105,156.521739,143.373494
1,Royal Challengers Bangalore,223,48.878924,139.02439,161.0
8,Punjab Kings,28,46.428571,133.333333,170.0
3,Delhi Capitals,222,46.396396,144.247788,148.623853
10,Kings XI Punjab,190,46.315789,148.913043,143.877551
12,Gujarat Lions,30,43.333333,150.0,135.714286
15,Kochi Tuskers Kerala,14,42.857143,142.857143,142.857143
14,Deccan Chargers,75,38.666667,141.025641,136.111111
13,Pune Warriors,45,26.666667,126.086957,127.272727

### `Q-7:` Venues with most "no result" matches.

In [11]:
ipl['Venue'] = ipl['Venue'].replace('M.Chinnaswamy Stadium', 'M Chinnaswamy Stadium')

In [12]:
ipl[ipl['WonBy'] == 'NoResults']

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
205,1178424,Bengaluru,2019-04-30,2019,49,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'AB de Villiers', 'MP Stoinis', 'H...","['SV Samson', 'LS Livingstone', 'AM Rahane', '...",NJ Llong,UV Gandhe
437,829813,Bangalore,2015-05-17,2015,55,Royal Challengers Bangalore,Delhi Capitals,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['V Kohli', 'CH Gayle', 'AB de Villiers', 'Man...","['Q de Kock', 'SS Iyer', 'JP Duminy', 'Yuvraj ...",HDPK Dharmasena,K Srinivasan
464,829763,Bangalore,2015-04-29,2015,29,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,field,NaN,NaN,NoResults,NaN,NaN,NaN,"['CH Gayle', 'V Kohli', 'AB de Villiers', 'Man...","['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...",JD Cloete,PG Pathak
708,501265,Delhi,2011-05-21,2011,68,Delhi Capitals,Pune Warriors,Feroz Shah Kotla,Delhi Capitals,bat,NaN,NaN,NoResults,NaN,NaN,NaN,"['NV Ojha', 'DA Warner', 'MS Wade', 'CA Ingram...","['MK Pandey', 'JP Faulkner', 'SC Ganguly', 'RV...",SS Hazare,RJ Tucker

In [9]:
ipl[ipl['WonBy'] == 'NoResults']['Venue'].value_counts()

Venue
M Chinnaswamy Stadium    3
Feroz Shah Kotla         1
Name: count, dtype: int64

### `Q-8:` Player with most appearance in final match.

`Team1Players` and `Team2Players` have all players name. It is not a list of players name instead it is str. So handle it as string.

Hint: split and strip will help; Make a series of all players in final and do value counts

In [48]:
# joining the players list to AllPlayers
ipl['AllPlayers'] = ipl['Team1Players'] + "," + ipl['Team2Players']
# Removing the blank spaces and splitting the players list on commas
ipl['AllPlayers'] = ipl['AllPlayers'].apply(lambda x: [player.strip() for player in x.split(',')])
# ipl['AllPlayers'].apply(lambda x : )
print(ipl.AllPlayers.head(1))
ipl.head(2)

# filtering only the final matches
final_matches = ipl[ipl['MatchNumber'] == 'Final']

# collecting all the players from finals into one big list
# main extraction of all players from finals
all_players_final = final_matches['AllPlayers'].sum()

player_counts = pd.Series(all_players_final).value_counts()
print("Top players in Finals:\n", player_counts.head())
print(f"Player with the most appearance in final matches: {player_counts.head(1)}")
# print("\nPlayer with most final appearances:", player_counts.idxmax(), "â†’", player_counts.max(), "times")

0    [['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D...
Name: AllPlayers, dtype: object
Top players in Finals:
 'MS Dhoni'     10
'SK Raina'      8
'AT Rayudu'     7
'DJ Bravo'      7
'RA Jadeja'     7
Name: count, dtype: int64
Player with the most appearance in final matches: 'MS Dhoni'    10
Name: count, dtype: int64

In [10]:
ipl.head(2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon

### `Q-9:` IPL Point Table

Make a function `point_table` which take `season` as parameter and show points table in non-ascendng order of points and in ascending order of team name.

For winning - 2 Ponits;
For loosing - 0 Point
For not result both team gets 1 points.

Make dataframe which will have
`TeamName` `MatchesPlayed` `MatchesWon` `NoResult` `Points`
make `TeamName` as index.

```
season parametr should be one of these->
['2022', '2021', '2020/21', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2009/10', '2009', '2007/08']
```

Output of two Top 2 in season 2022
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points

Gujarat Titans	    16	   12	       0	     24
Rajasthan Royals	  17	   10	       0	     20

```

In [13]:
def point_table(season, ipl):
    df = ipl[ipl.Season == season]
    table = pd.DataFrame()

    # table['TeamName'] = pd.unique(df[['Team1', 'Team2']].values.ravel())
    teams_played = pd.concat([df['Team1'], df['Team2']])
    table['TeamName'] = teams_played.value_counts()
    table.reset_index(inplace=True)
    # renaming the cols bcz of index reset
    table.columns = ['TeamName', 'MatchesPlayed']
    
    # table['MatchesPlayed'] = teams_played.value()
    return table

year = 2022
point_table(str(year), ipl)

                      TeamName  MatchesPlayed
0             Rajasthan Royals             17
1  Royal Challengers Bangalore             16
2               Gujarat Titans             16
3         Lucknow Super Giants             15
4               Delhi Capitals             14
5          Sunrisers Hyderabad             14
6          Chennai Super Kings             14
7        Kolkata Knight Riders             14
8                 Punjab Kings             14
9               Mumbai Indians             14

In [15]:
def matches_played(df, team):
    return df[(df.Team1 == team) | (df.Team2 == team)].shape[0]

def matches_won(df, team):
    return df[df.WinningTeam == team].shape[0]

def matches_no_result(df, team):
    return df[((df.Team1 == team) | (df.Team2 == team)) & (df.WinningTeam.isnull())].shape[0]

def point_table(season):
    df = ipl[ipl.Season == season]
    table = pd.DataFrame()
    table['TeamName'] = df.Team1.unique()
    table['MatchesPlayed'] = table['TeamName'].apply(lambda x: matches_played(df, x))
    table['MatchesWon'] = table['TeamName'].apply(lambda x: matches_won(df, x))
    table['NoResult'] = table['TeamName'].apply(lambda x: matches_no_result(df, x))
    table['Points'] = table['MatchesWon'] * 2 + table['NoResult']
    table.sort_values('Points', ascending=False, inplace=True)
    table.set_index('TeamName', inplace=True)
    return table

year = 2022
point_table(str(year))

                             MatchesPlayed  MatchesWon  NoResult  Points
TeamName
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Royal Challengers Bangalore             16           9         0      18
Lucknow Super Giants                    15           9         0      18
Punjab Kings                            14           7         0      14
Delhi Capitals                          14           7         0      14
Kolkata Knight Riders                   14           6         0      12
Sunrisers Hyderabad                     14           6         0      12
Chennai Super Kings                     14           4         0       8
Mumbai Indians                          14           4         0       8

### `Q-10:` IPL Point Table cont.
Extend the above IPL Point Table with an extra column as `SeasonPosition`

Team below top 4 after sorting on `Points` and then on `TeamName` Will have same `SeasonPosition` as there rank. use rank function.

Teams in Top four will have `SeasonPosition` as:
```
    'Winner' - Team won final
    'Runner' - Team lost Final
    3 - Losing Team in Qualifier2
    4 - Losing Team in Eliminator
```

For changing value of pariticular cell use `df.at[row_index, col_label] = value`

Output of two Top 2 in season 2022. Your result should have all teams.
```
TeamName    MatchesPlayed	MatchesWon	NoResult	Points   SeasonPosition

Gujarat Titans	    16	   12	       0	     24         Winner
Rajasthan Royals	  17	   10	       0	     20         Runner

```

Note: If you try to chnage value of view of any dataframe a warnig will be shown. To avoid it, make a copy of the dataframe you want to change in by `df.copy()`

In [16]:
def point_table_with_position(season):
    table = point_table(season)
    table['SeasonPosition'] = table['Points'].rank(method='first', ascending=False).astype(int)
    
    # Special handling for top 4
    df = ipl[ipl['Season'].astype(str) == str(season)].copy()
    final = df[df['MatchNumber'] == 'Final'].iloc[0]
    winner = final['WinningTeam']
    runner = final['Team1'] if final['Team2'] == winner else final['Team2']
    
    # Update SeasonPosition
    table.at[winner, 'SeasonPosition'] = 'Winner'
    table.at[runner, 'SeasonPosition'] = 'Runner'
    
    # Qualifier2 (losing team gets 3rd place)
    q2 = df[df['MatchNumber'] == 'Qualifier 2'].iloc[0]
    loser_q2 = q2['Team1'] if q2['WinningTeam'] == q2['Team2'] else q2['Team2']
    table.at[loser_q2, 'SeasonPosition'] = 3
    
    # Eliminator (losing team gets 4th place)
    elim = df[df['MatchNumber'] == 'Eliminator'].iloc[0]
    loser_elim = elim['Team1'] if elim['WinningTeam'] == elim['Team2'] else elim['Team2']
    table.at[loser_elim, 'SeasonPosition'] = 4
    
    return table

In [18]:
print(point_table_with_position(str(year)).head(6))

                             MatchesPlayed  MatchesWon  NoResult  Points  \
TeamName
Gujarat Titans                          16          12         0      24
Rajasthan Royals                        17          10         0      20
Royal Challengers Bangalore             16           9         0      18
Lucknow Super Giants                    15           9         0      18
Punjab Kings                            14           7         0      14
Delhi Capitals                          14           7         0      14

                            SeasonPosition
TeamName
Gujarat Titans                      Winner
Rajasthan Royals                    Runner
Royal Challengers Bangalore              3
Lucknow Super Giants                     4
Punjab Kings                             5
Delhi Capitals                           6

/tmp/ipykernel_3570/3640113162.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Winner' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  table.at[winner, 'SeasonPosition'] = 'Winner'